
# Elastic Beanstalk Files
.elasticbeanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
node_modules
public/js/bower_components
public/js/angular/node_modules
bin
pkg
